/* Begin CSS */

body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #ee7b3c 3px solid;
    opacity: 0.8;
}

#homeSection {
    background: url("../images/sunsetBG.jpeg") no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}

.card-body {
    background: #ee7b3c;
}

.navbar-brand {
    color: #ee7b3c !important;
}

.darkOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

.homeInner {
    padding-top: 150px;
}

.card-form {
    opacity: 0.8;
}

.fa {
    color: #ee7b3c;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

#createHeadSection {
    background: #ee7b3c;
}

#shareHeadSection {
    background: #ee7b3c;
}

.btn {
    background: #ee7b3c;
}

#exploreCheck {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

#map {
    height: 500px;
    width: 500px;
}

.carousel-inner .card {
    width: 500px;
    height: 215px;
}

#yelpCaro {
    width: 500px;
    height: 225px;
    border-style: solid;
    border-color: #333;
    border-width: 5px;
    /* background-color: aquamarine; */
}

#shareCheck {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

/*  */